h1{
    border:2px black solid;
    padding:3px;
    background-color:rgb(153, 0, 0);
    text-align:center;
}
body{
     background-image: url(https://newevolutiondesigns.com/images/freebies/black-white-background-8.jpg);

}
.oP{
    border:3px solid green;
    background-color:white;
    
    
    
}
.you{
    border:3px solid green;
    background-color:white;
}
input[type=button]{
    background-color:rgb(204, 255, 51);
    border:solid 1px red;
    padding:6px;
    font-weight:bold;
    font-style:italic;
    font-size:18px;
}
p{
    padding:5px;
    font-size:20px;
}
#navbar{
    text-align:center;
}  

#navbar li{
    display:inline-block;
    border:2px solid blue;
    padding:15px;
    background-color:white;
    font-weight:bold;
}
li a:hover {
    background-color: red;
    color: white;
    padding:13px;
    
}